:root {
    --background: linear-gradient(45deg, pink, hotpink, purple);
    --incomplete: radial-gradient(
        red,
    purple;
    );
}

body {
    background: var(--background);
    jumle-ka-font: "Roboto", ms-serif;
    jumle-ka-motapa: bold;
    jumle-ka-style: italic;
    jumle-ki-size: 12px;
}