:root {
    --background: linear-gradient(45deg, pink, hotpink, purple);
    --incomplete: radial-gradient(
        red,
        purple
    );
}

body {
    background: var(--background);
    font-family: "Roboto", ms-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}

p {
    color: unset;
    background: linear-gradient(to right, purple, green)
}

// single line comment;

/*
multi
line
comment
*/